<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1981398221,3412154454&fm=26&gp=0.jpg">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Simple Login Form with Blue Background</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel= "stylesheet" type="text/css" href="css/bootstrap.css">
<style type="text/css">
    .head{
		color: black;
		margin-left:50px;
	}
    .info{
		color: black;
		margin-left:50px;
	}
	.table{
		color: black;
	}
</style>
<style>
    body {
		font-family: 'Varela Round', sans-serif;
    color: #fff;
		background: #3598dc;
	}
  .navbar {
		font-size: 14px;
		background: #fff;
		padding-left: 16px;
		padding-right: 16px;
		border-bottom: 1px solid #3598dc;
		box-shadow: 0 0 4px rgba(0,0,0,.1);
	}
	.navbar .navbar-brand {
		color: #3598dc;
		padding-left: 0;
		font-size: 20px;
		padding-right: 50px;
		font-family: 'Raleway', sans-serif;
		text-transform: uppercase;
	}
  .navbar .navbar-brand b {
		font-weight: bold;
		color: #3598dc;
	}
	.navbar ul.nav li {
		font-size: 96%;
		font-weight: bold;
		text-transform: uppercase;
	}
	.navbar ul.nav li.active a, .navbar ul.nav li.active a:hover, .navbar ul.nav li.active a:focus {
		color: #3598dc !important;
		background: transparent !important;
	}
  .search-box {
        position: relative;
    }
	.search-box input.form-control, .search-box .btn {
		font-size: 14px;
		border-radius: 2px !important;
	}
	.search-box .input-group-btn {
		padding-left: 4px;
	}
	.search-box input.form-control:focus {
		border-color: #3598dc;
		box-shadow: 0 0 8px rgba(240,79,1,0.2);
	}
  .search-box .btn-primary, .search-box .btn-primary:active {
		font-weight: bold;
		background: #3598dc;
		border-color: #3598dc;
		text-transform: uppercase;
		min-width: 90px;
	}
	.search-box .btn-primary:focus {
		outline: none;
		background: #3598dc;
		box-shadow: 0 0 8px rgba(240,79,1,0.2);
	}
	.search-box .btn span {
		transform: scale(0.9);
		display: inline-block;
	}
  .navbar ul li i {
  font-size: 18px;
}
.navbar .dropdown-menu i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .dropdown.open > a {
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #3598dc;
  box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
  color: #777;
  padding: 8px 20px;
  line-height: normal;
  font-size: 14px;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
  color: #333;
}
.navbar .navbar-form {
  border: none;
}
	.modal-login {
		color: #636363;
		width: 350px;
		margin: 50px auto;
	}
	.modal-login .modal-content {
		padding: 20px;
		border-radius: 5px;
		border: none;
	}
	.modal-login .modal-header {
		border-bottom: none;
		position: relative;
		justify-content: center;
	}
	.modal-login h4 {
		text-align: center;
		font-size: 26px;
	}
  a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  }
	.modal-login  .form-group {
		position: relative;
	}
	.modal-login .form-control {
		padding-left: 40px;
	}
	.modal-login .form-control:focus {
		border-color: #00ce81;
	}
	.modal-login .form-control, .modal-login .btn {
		min-height: 40px;
		border-radius: 3px;
	}
	.modal-login .hint-text {
		text-align: center;
		padding-top: 10px;
	}
	.modal-login .close {
        position: absolute;
		top: -5px;
		right: -5px;
	}
	.modal-login .btn {
		background: #00ce81;
		border: none;
		line-height: normal;
	}
	.modal-login .btn:hover, .modal-login .btn:focus {
		background: #3598dc;
	}
	.modal-login .modal-footer {
		background: #3598dc;
		border-color: #dee4e7;
		text-align: center;
		margin: 0 -20px -20px;
		border-radius: 5px;
		font-size: 13px;
		justify-content: center;
	}
	.modal-login .modal-footer a {
		color: #000;
	}
	.trigger-btn {
		display: inline-block;
		margin: 100px auto;
	}
</style>
</head>
<body >
  <nav class="navbar navbar-default navbar-expand-lg navbar-light">
  	<div class="navbar-header">
  		<a class="navbar-brand" href="#">Bank<b>Name</b></a>
  		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
  			<span class="navbar-toggler-icon"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  			<span class="icon-bar"></span>
  		</button>
  	</div>
  	<!-- Collection of nav links, forms, and other content for toggling -->
  	<div id="navbarCollapse" class="collapse navbar-collapse">
  		<ul class="nav navbar-nav">
  			<li><a href="/sessions/open">Home</a></li>
  			<li><a href="#">About</a></li>

  			<li class="active"><a href="#">Contact Us</a></li>

  		</ul>
  		<form class="navbar-form form-inline navbar-right ml-auto">
  			<div class="input-group search-box">
  				<input type="text" class="form-control">
  				<span class="input-group-btn">
  					<button type="button" class="btn btn-primary"><span>Search</span></button>
  				</span>
  			</div>
  		</form>
      </div>
  </nav>
  <div class = "head">
  <p id="notice"><%= notice %></p>
</div>

  <div class = "info">
	  <table>
		  <tr>
			  <th><strong>Name:</strong></th>
			  <th><%= @account.name %></th>
		  </tr>
		  <tr>
			<th><strong>Email:</strong></th>
			<th><%= @account.email %></th>
		</tr>
		<tr>
			<th><strong>Password:</strong></th>
			<th><%= @account.password %></th>
		</tr>
		<tr>
			<th><strong>Balance:</strong></th>
			<th><%= @account.balance %></th>
		</tr>
	  </table>
</div>

<div class = "table">
  <h2 style="width:200px;margin:0 auto;"></h1style>Listing transactions</h2>
  <table id="transactions">
	<tr>
	  <th>Payee</th>
	  <th>Date</th>
	  <th>Currency</th>
	  <th>Description</th>
	  <th>Amount</th>
	  <th>Balance</th>
	</tr>
	<% @account.transactions.order(balance: :desc).each do |transaction| %>
	  <tr>
		<td><%= transaction.payee %></td>
		<td><%= transaction.date %></td>
		<td><%= transaction.currency %></td>
		<td><%= transaction.description %></td>
		<td><%= transaction.amount %></td>
		<td><%= transaction.balance %></td>

	  </tr>
	<% end %>
  </table>
</div>
  <style>



  #transactions th, #transactions td{
	  text-align: left;
	  padding: 12px;
  }


   #transactions tr:hover{/* Add background when the header and mouse move over TR */
	  background-color: #f1f1f1;
  }


  #transactions{
	height: 40%;
	left: 10%;
	margin: 20px auto;
	overflow-y: scroll;
	position: static;
	width: 80%;
  }
  #transactions thead th {
	background: #88CCF1;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 2px;
	text-transform: uppercase;
  }



  #transactions tr {
	background: #f4f7f8;
	border-bottom: 1px solid #FFF;
	margin-bottom: 5px;
  }



  #transactions th, #transactions td {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	padding: 18px;
	text-align: left;
	width: 33.3333%;
  }
	</style>


  <%= render 'transactions/newtransaction'%>
  <%= link_to 'Edit', edit_account_path(@account) %> |
  <%= link_to 'Back', admin_path(User.find(@account.user_id)) %>


</body>
</html>
